VITE_SUPABASE_URL=https://xfftwgzkgwtdbgxtcbts.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhmZnR3Z3prZ3d0ZGJneHRjYnRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNTc0MDgsImV4cCI6MjA4ODYzMzQwOH0.AYeEaSKoOJrMtxN48H6H1r4wMyx72pEI_fQ73j4iroM

